body {
  background-image: url('https://www.xmple.com/wallpaper/white-pink-linear-gradient-2048x1152-c2-db7093-ffffff-a-270-f-14.svg');
  font-family: 'Carter One', cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.puppy-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.puppy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.img-circle {
  border-radius: 30%; 
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.title {
  text-align: center;
  font-size: 50px;
}

.nav {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
  font-size: 16px;
}
